
.tarjeta {
  background-color: cadetblue;
  padding: 10px;
  margin: 20px;
}
.icon-display {
  transform: scale(2);
  color: rgb(175, 237, 112);
}
.titulo {
  color: white;
  font-weight: bold;
  size: 30px;
}
.color1{
  color: rgb(87, 85, 85);
}
.color2{
  color: rgb(235, 242, 242);
  size: 15px;
}
